# macOS
.DS_Store

# Xcode
DerivedData/
*.xcworkspace
*.xcodeproj
xcuserdata/

# SwiftPM (Swift Package Manager)
.build/
.swiftpm/
Packages/

# Local Config
.netrc
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# SwiftPM/Xcode Build Artifacts 
.build/
.swiftpm/

# IDEs / Tools
*.sw?

# Other
*.log